/1 strings.py
/10 desafio random.py
/11_como_debugar.py
/2 strings dinamico.py
/3 Identaçao.py
/4 Slice.py
/5 desafio split.py
/6 input.py
/7 date time.py
/8 desafio datetime.py
/9 Random.py
/__pycache__